.works-grid {
  display: grid;
  grid-template-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(5, 1fr 20px);
  grid-template-areas:
    "card1 . card2 . card3"
    ". . . . ."
    "card4 . card5 . card6"
    ". . . . ."
    "card7 . card8 . card9"
    ". . . . ."
    "card10 . card11 . card12"
    ". . . . ."
    "card13 . card14 . card15";
  margin: 4rem;
}

.card:nth-of-type(1) {
  grid-area: card1;
}

.card:nth-of-type(2) {
  grid-area: card2;
}

.card:nth-of-type(3) {
  grid-area: card3;
}

.card:nth-of-type(4) {
  grid-area: card4;
}

.card:nth-of-type(5) {
  grid-area: card5;
}

.card:nth-of-type(6) {
  grid-area: card6;
}

.card:nth-of-type(7) {
  grid-area: card7;
}

.card:nth-of-type(8) {
  grid-area: card8;
}

.card:nth-of-type(9) {
  grid-area: card9;
}

.card:nth-of-type(10) {
  grid-area: card10;
}

.card:nth-of-type(11) {
  grid-area: card11;
}

.card:nth-of-type(12) {
  grid-area: card12;
}

.card:nth-of-type(13) {
  grid-area: card13;
}

.card:nth-of-type(14) {
  grid-area: card14;
}

.card:nth-of-type(15) {
  grid-area: card15;
}

.works-image {
  width: 375px;
  height: 260px;
  border-radius: 8%;
}
