.works-flex-container {
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  align-items: baseline;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  width: 375px;
  margin: 20px;
}

.image-container {
  position: relative;
  width: 375px;
  height: 220px;
}

.image-overlay {
  background-color: rgba(5, 51, 53, 0.7);
  position: absolute;
  width: 375px;
  height: 220px;
  border-radius: 4%;
  opacity: 0;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.works-image {
  width: 375px;
  height: 220px;
  border-radius: 4%;
  border-color: white;
  border: solid;
}

h4 {
  margin: 0.5rem 0 1rem 0;
}

.button-container {
  margin: 0.5rem 0px;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: black;
  border-color: white;
  color: white;
  border-radius: 40px;
  height: 30px;
  width: 165px;
  margin: 0px 0.3rem;
  font-family: "Raleway", sans-serif;
  border: none;
}
