.contact-page {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-style {
  color: white;
  display: flex;
  width: 60vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: rgba(5, 51, 53, 0.6);
  height: 50vh;
}

.contact-header-container {
  height: 50px;
  padding: 40px;
  display: flex;
  align-items: center;
}

.beautiful-text {
  color: black;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  background-color: rgb(250, 165, 37);
  margin: 12px 12px;
  font-size: 24px;
}

.contact-style p {
  font-size: 26px;
  line-height: 12px;
}
