.nav-space {
  height: 50px;
}

nav {
  text-align: center;
}

/* nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 10px 5px;
  justify-content: space-evenly;
} */

a {
  text-decoration: none;
  color: white;
  padding: 7px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.nav-style {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 9;
}

.link-style {
  text-decoration: none;
  color: white;
  padding: 13px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  width: 70%;
}

.nav-section-style {
  text-align: center;
  font-size: 20px;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.left-nav {
  background-color: black;
  height: 100%;
  display: flex;
  width: 32%;
  justify-content: center;
}

.portfolio-word {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  align-self: center;
}

.right-nav {
  display: flex;
  width: 68%;
  background-color: rgb(5, 51, 53);
  justify-content: center;
}

/* cellphone size */
@media screen and (max-width: 700px) and (min-width: 320px) {
  .left-nav {
    display: none;
  }

  .right-nav {
    display: flex;
    width: 100%;
    background-color: rgb(5, 51, 53);
    justify-content: center;
  }

  a {
    padding: 0px;
    font-size: 0.9rem;
  }
}
